body{
    font-family: Arial,sans-serif;
    font-weight: bold;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 2.5rem;
    color:hsl(0, 0%, 20%);
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    margin: 0 10px;
    border-radius: 20px;
    background-color:hsl(197, 75%, 78%);
    cursor: pointer;
    transition: background-color 0.5 ease;
}

.choices button:hover{
    background-color: hsl(197, 75%, 84%);
}
#playerDisplay, #computerDisplay{
    font-size: 1.5rem;
    
}
#resultDisplay{
    font-size: 2.5rem;
    margin: 30px 0;
}
.scoreDisplay{
    font-size: 2rem;
}

.greenText, #playerScoreDisplay{
    color: rgb(105, 230, 105);
}
.redText, #computerScoreDisplay{
    color: rgb(205, 60, 60);
}
